# copy this file to .env and fill in the <templates>
JWKS_URI=https://*.keycloak.devlocal.navex-pe.com:8443/auth/realms/navex/protocol/openid-connect/certs
AUTH0_JWKS=https://auth0.test.navex-dev.com/.well-known/jwks.json
ASM_JWKS=https://*.devlocal.navex-pe.com:4343/authorization/

